/.vscode
/__pycache__
/timer_test.py
nohup.out
saved_models/bert_inner_steps_100000
glue_data/CoLA/dev.tsv
glue_data/CoLA/test.tsv
glue_data/CoLA/train.tsv
glue_data/CoLA/original/raw/in_domain_dev.tsv
glue_data/CoLA/original/raw/in_domain_train.tsv
glue_data/CoLA/original/raw/out_of_domain_dev.tsv
glue_data/CoLA/original/tokenized/in_domain_dev.tsv
glue_data/CoLA/original/tokenized/in_domain_train.tsv
glue_data/CoLA/original/tokenized/out_of_domain_dev.tsv
glue_data/MNLI/dev_matched.tsv
glue_data/MNLI/dev_mismatched.tsv
glue_data/MNLI/README.txt
glue_data/MNLI/test_matched.tsv
glue_data/MNLI/test_mismatched.tsv
glue_data/MNLI/train.tsv
glue_data/MNLI/original/multinli_1.0_dev_matched.jsonl
glue_data/MNLI/original/multinli_1.0_dev_matched.txt
glue_data/MNLI/original/multinli_1.0_dev_mismatched.jsonl
glue_data/MNLI/original/multinli_1.0_dev_mismatched.txt
glue_data/MNLI/original/multinli_1.0_train.jsonl
glue_data/MNLI/original/multinli_1.0_train.txt
glue_data/MRPC/dev_ids.tsv
glue_data/MRPC/dev.tsv
glue_data/MRPC/test.tsv
glue_data/MRPC/train.tsv
glue_data/QNLI/dev.tsv
glue_data/QNLI/test.tsv
glue_data/QNLI/train.tsv
glue_data/QQP/dev.tsv
glue_data/QQP/test.tsv
glue_data/QQP/train.tsv
glue_data/QQP/original/quora_duplicate_questions.tsv
glue_data/RTE/dev.tsv
glue_data/RTE/test.tsv
glue_data/RTE/train.tsv
glue_data/SNLI/dev.tsv
glue_data/SNLI/README.txt
glue_data/SNLI/test.tsv
glue_data/SNLI/train.tsv
glue_data/SNLI/original/snli_1.0_dev.jsonl
glue_data/SNLI/original/snli_1.0_dev.txt
glue_data/SNLI/original/snli_1.0_test.jsonl
glue_data/SNLI/original/snli_1.0_test.txt
glue_data/SNLI/original/snli_1.0_train.jsonl
glue_data/SNLI/original/snli_1.0_train.txt
glue_data/SST-2/dev.tsv
glue_data/SST-2/test.tsv
glue_data/SST-2/train.tsv
glue_data/SST-2/original/datasetSentences.txt
glue_data/SST-2/original/datasetSplit.txt
glue_data/SST-2/original/dictionary.txt
glue_data/SST-2/original/original_rt_snippets.txt
glue_data/SST-2/original/README.txt
glue_data/SST-2/original/sentiment_labels.txt
glue_data/SST-2/original/SOStr.txt
glue_data/SST-2/original/STree.txt
glue_data/STS-B/dev.tsv
glue_data/STS-B/LICENSE.txt
glue_data/STS-B/readme.txt
glue_data/STS-B/test.tsv
glue_data/STS-B/train.tsv
glue_data/STS-B/original/sts-dev.tsv
glue_data/STS-B/original/sts-test.tsv
glue_data/STS-B/original/sts-train.tsv
glue_data/WNLI/dev.tsv
glue_data/WNLI/test.tsv
glue_data/WNLI/train.tsv
glue_data/diagnostic/diagnostic.tsv
saved_models/bert_inner_steps_5000
saved_models/bert_inner_steps_10000
saved_models/bert_inner_steps_15000
saved_models/bert_inner_steps_20000
saved_models/bert_inner_steps_25000
saved_models/bert_inner_steps_30000
saved_models/bert_inner_steps_35000
saved_models/bert_inner_steps_40000
saved_models/bert_inner_steps_45000
saved_models/bert_inner_steps_50000
saved_models/bert_inner_steps_60000
saved_models/bert_inner_steps_65000
saved_models/bert_inner_steps_210000
saved_models/bert_inner_steps_215000
saved_models/bert_inner_steps_220000
saved_models/bert_inner_steps_55000
saved_models/bert_inner_steps_70000
test.txt
saved_models/bert_inner_steps_180000
saved_models/bert_inner_steps_140000
saved_models/bert_inner_steps_145000
